@font-face {
    font-family: poppins;
    src: url(../fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/MinecraftTen.woff);
}

* {
    overflow-x: hidden;
    text-shadow: 5px 5px 5px #1b16162f;
}

:root {
    --pri: #282828aa;
    --sec: #282828aa;
    --ter: #35CE8D;
    color: white;
    font-family: poppins;
    scroll-behavior: smooth;
}

.block {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-image: url(../images/dirt.webp);
    background-size: 5em;
    overflow: hidden;
}

body {
    background-image: url(../images/stone.jpg);
    background-size: 5em;
    margin: 0;
    transition: 0.5s;
    overflow-x: hidden;
}

#masthead {
    margin: auto;
    margin-top: 100px;
    padding: 0;
    max-width: 100% !important; 
}

label {
    cursor: pointer;
    display: inline-flex;
    color: #eae7e7;
}

#facts {
    background-image: url(../images/water.webp);
    box-shadow: 5px 5px 50px #1b1616;
    background-attachment: fixed;
    background-size: 100%;
    max-width: 70%; 
    background-position: bottom;
}

#facts li {
    width: 80%;
    margin: auto;
    overflow-x: visible;
    margin-top: 10px;
    text-shadow: 1px 1px 4px black;
}

#facts ol {
    list-style-type: decimal;
}

#downloads {
    background-image: url(../images/cave.jpg);
    box-shadow: 5px 5px 50px #1b1616;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100% !important; 
}

#timeline {
    margin: auto;
    height: 35em;
    width: fit-content;
    box-shadow: -4px -4px 40px black;
}

/**

Products styling

*/

.product {
    box-shadow: 5px 5px 50px #1b1616;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100% !important; 
}

#java {
    background-image: url(../images/javaBackground.png);
}

#dungeons {
    background-image: url(../images/dungeonsBackground.png);
}

#legends {
    background-image: url(../images/legendsBackground.avif);
}

#education {
    background-image: url(../images/educationBackground.webp);
}

/**

Navigation Menu

*/

/* Hide the input checkbox */
#menu {
    display: none;
}

#portal {
    perspective: 1000px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menuitems {
    animation: 0.5s menu forwards;
    position: relative;
    display: none;
}

#menu:checked ~ #menuitems {
    display: block;
}

header ul {
    font-family: minecraft;
}

#menuitems a:first-letter {
    color: #e0f1ea;
    font-size: 1.3em;
}

#menuitems a {
    transition: 0.5s;
    margin-left: 13vw;
}

#menuitems a:hover {
    color: #a9abbb;
} 

label {
    overflow: hidden;
}

.menu-btn {
    z-index: 999;
    right: 35px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
    width: 28px !important;
    height: 3px !important;
    overflow: visible;
    margin: 0 0 5px 0;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
}

#menu:checked + .menu-btn {
    transform: rotate(180deg) translateY(5px);
}

#menu:checked + .menu-btn .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu:checked + .menu-btn .btn-line:nth-child(2) {
    opacity: 0;
}

#menu:checked + .menu-btn .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}

.color {
    background-color: #000000a0;
    padding: 30px;
    
}

.block h2 {
    font-family: minecraft;
    font-size: 3em;
    text-align: center;
}

#logo {
    position: absolute;
    background-attachment: fixed;
    padding: 2em;
}

#logo img {
    width: 100%;
}

#fore {
    perspective: 1000px;
    background-image: url(../images/fore.png);
    height: 30em;
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

header, footer {
    background-color: var(--pri);
}

header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/back.png);
    box-shadow: 0px 30px 30px black;
    margin-bottom: 60px;
}

header h1 {
    margin: 0;
    z-index: 3;
    overflow: visible;
}

#aboutHeader {
    background-image: url(../images/wallpaper_minecraft_cats_pandas_2560x1440.png);
}

#about {
    background-image: url(../images/wild.webp);
}

footer {
    margin-top: -1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url(../images/dirty.webp);
    background-size: 5em;
    background-position-x: 6%;
}

footer section {
    display: block;
}


footer h6 {
    margin:auto;
}

#toTop {
    width: 3em;
    height: 3em;
    background: url(../images/dirty.webp);
    border: 4px solid #2a2929;
    content: "^";
    position: absolute;
    left: 20px;
    margin-bottom: 50px;
}

form {
    display: block;
    text-align: center;
}

input, textarea {
    border: 2px solid var(--pri);
    background-color: var(--sec);
    color: white;
    font-size: large;
    font-family: minecraft;
    margin: 20px;
    padding: 15px;
    transition: 0.4s;
}

textarea {
    margin: 0;
    margin-top: 20px;
}

input:hover {
    border: 2px solid var(--ter);
    background-color: #204d3a78;
}

ul li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: minecraft;
    text-align: center;
    font-size: 8em;
}

h1, h2 {
    text-shadow: #5d647a 0 4px;
}

section h1 {
    text-align: center;
}

#indexAbout {
    background-image: url(../images/facts2.png);
    background-size: 100%;
    background-attachment: fixed;
}

#indexAbout p {
    margin: 5px;
    font-size: 0.5em;
    display: inline;
}

#indexAbout #scroller {
    max-height: 1.5em;
    animation: scroller 15s cubic-bezier(.47,.58,1,.67) infinite;
    word-break: break-all;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 1.5em;
}

#para {
    font-weight: normal;
    font-size: 1em;
}

#products .items {
    padding: 0px;
}

.items {
    display: flex;
    padding-inline-start: 0px;
}

.items ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.items ul > li {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.items ul li a {
    width: 20em;
    height: 20em;
    background-size: cover;
}

.items ul li {
    transition: 0.5s;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.412);
}

.items ul li:hover {
    background-size: 101% !important;
    background-position: 90%;
}

.noBack {
    box-shadow: none !important;
    background: none;
    text-align: center;
}

.itemwrapper {
    background-color: #27454422;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.itemwrapper p {
    display: none;
    background-color: #1b16169a;
    padding: 10px;
    padding-bottom: 80px;
}

.itemwrapper:hover > p {
    display: block;
    position: relative;
    animation: popup 0.3s ease forwards;
    top: 15em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.noflex {
    display: block;
    width: 100%;
    flex-wrap: wrap;
}

.download {
    text-align: center;
    border-top: 4px solid #d6dceb;
    border-bottom: 4px solid #d6dceb;
    padding: 25px 50px;
    font-size: 1.3em;
    background-color:#a9abbb;
    color:#3d3f66;
    font-family: minecraft;
    margin: auto;
    transition: 0.4s;
}

.download:hover {
    color:white;
    background-color:  #2c2f39;
    border-top: 4px solid #10111f;
    border-bottom: 4px solid #10111f;
}

#item1 {
    background-image: url(../images/java.avif);
}

#item2 {
    background-image: url(../images/dungeons.avif);
}

#item3 {
    background-image: url(../images/legends.avif);
}

#item4 {
    background-image: url(../images/education.avif);
}

/**

Misc bars

*/

#dirt {
    height: 5em;
    background-image: url(../images/grass2.png);
    background-size: 5em;
    background-position-x: 6%;
    z-index: 2;
}

#dirty {
    height: 5em;
    background-image: url(../images/grassy.webp);
    background-size: 5em;
    background-position-x: 6%;
    box-shadow: -4px -4px 40px black;
    margin-top: 100px;
}

/**

Animations

*/

/***** PHONE *****/
@media (max-width: 1000px) {
    :root {
        font-size: 5vw;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        line-break: anywhere;
    }

    .block {
        background-size: 150% !important; 
    }

    .block {
        background-size: auto;
    }

    .slidein {
        transform: translateX(-300px);
    }
    
    .slideinR {
        transform: translateX(300px);
    }   

    #menu li {
        padding: 15px;
        background-color: #10111f;
        border: 2px solid black;
    }
    
    img {
        width: 100%;
    }
}

/***** NORMAL COMPUTER *****/
@media (min-width: 1001px) {
    :root {
        font-size: 1.5em;
    }

    .block {
        max-width: 900px;
    }

    #logocontainer {
        margin-bottom: -9em;
    }
}

/***** LARGE COMPUTER *****/
@media (min-width: 2000px) {
    :root {
        font-size: 4em;
    }

    .block {
        max-width: 1900px;
    }
}

.slide {
    animation: 1s forwards 0s 1 slideInFromLeft;
}

.slideR {
    animation: 1s forwards 0s 1 slideInFromRight;
}

@keyframes menu {
    0% {
        left: -1000px;
        transform: scale(0.2);
    }

    100% {
        transform: scaleX(1);
        left: 0px;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scroller {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: -1050px;
    }
}

@keyframes popup {
    0% {
        top: 20em;
    }

    100% {
        top: 68%;
    }
}

@keyframes jump {
    0% {z-index: 3;}
    70% {
        bottom: 500px;
        z-index: -1;
    }

    100% {
        bottom: 300px;
        z-index: -1;
    }
}